footer {
    background-color: $amarillo;
}

.footerText {
    font-family: Lato;
    font-weight: 500;
    font-size: 1rem;
    color: black;
}

.noDecoration {
    
    color: black;
}

.iFooter {
    font-size: 1.5rem;
    color: black;
}