// MOBILE START 

// TITULOS SUBTITULOS PARRAFOS start

.titles {
    font-family: Inter;
    font-weight: 700;
    font-size: 2.4rem;
    color: white;
    z-index: 100;
}

.subtitles {
    font-family: Inter;
    font-weight: 500;
    font-size: 2rem;
    color: black;
}

.navText {
    font-family: Inter;
    font-weight: 500;
    font-size: 1.8rem;
    color:black;
}

.pText {
    font-family: Inter;
    font-weight: 300;
    font-size: 1.5rem;
    color: black;
}

// TITULOS SUBTITULOS PARRAFOS end


