// SECTION 1 ANIMATION start


.sectionAnimationBg {
    width: 100%;
    position: relative;
    background-image: url(../images/cilindro.jpeg);
    height: 40vh;
    background-size: cover;
    animation: rebote 5s infinite linear alternate;
}

.gradientBg {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to right,black, $amarillo);
    opacity: 0.6;
}


@keyframes rebote {
    from {
        background-position: bottom left 
    }
    to {
        background-position: top right
    }
}




// SECTION 1 ANIMATION end
