footer {
    background-color: $amarillo;
}

.footerText {
    font-family: Inter;
    font-weight: 300;
    font-size: 1rem;
    color: black;
}

.noDecoration {
    
    color: black;
}

.iFooter {
    font-size: 2rem;
    color: black;
}